<%- include('header'); -%>

<h2>This's the about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quo qui sit. Voluptas, sunt tenetur? Voluptate, quaerat, velit quo fugit laborum labore, temporibus totam recusandae cupiditate assumenda possimus culpa impedit?
Excepturi cumque quas aliquam sit nam perspiciatis. Provident quia quae at voluptates quaerat blanditiis laboriosam esse minus in doloribus distinctio, impedit libero ullam quis hic harum excepturi suscipit molestiae soluta?
Expedita repellat dolorem quasi, corrupti voluptates delectus a dicta, fugiat laboriosam, aliquam ex? Eius totam ea in a cumque magni optio deleniti, eaque commodi assumenda quod nobis neque? Maiores, adipisci.</p>

<%- include('footer'); -%>