</body>

<footer>
<p class="footer-text">Copyright 2022 
    <a class="footer-link" href="https://github.com/karina4840" target="_blank" >Karina I</a>
</p>

<a class="list-link" href="/">Today's List</a> |
<a class="list-link" href="/work">Work List</a>

</footer>
</html>